.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.card:hover {
  transform: scale(1.03);
}

.card-placeholder {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  color: #777;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.favorite-btn {
  border: none;
  background: white;
  border-radius: 50%;
  padding: 4px 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 20px;
}

.favorite-btn:hover {
  transform: scale(1.2);
}

.favorite-btn.active {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
